In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('movies.csv')
movies.columns
movies.shape

(10866, 21)

In [4]:
split_genres = movies['genres'].str.split('|', expand=True)
split_genres.head()

           0                1                2         3     4
0     Action        Adventure  Science Fiction  Thriller  None
1     Action        Adventure  Science Fiction  Thriller  None
2  Adventure  Science Fiction         Thriller      None  None
3     Action        Adventure  Science Fiction   Fantasy  None
4     Action            Crime         Thriller      None  None

In [5]:
split_genres['id'] = movies['id']
split_genres.head()

           0                1                2         3     4      id
0     Action        Adventure  Science Fiction  Thriller  None  135397
1     Action        Adventure  Science Fiction  Thriller  None   76341
2  Adventure  Science Fiction         Thriller      None  None  262500
3     Action        Adventure  Science Fiction   Fantasy  None  140607
4     Action            Crime         Thriller      None  None  168259

In [12]:
merged_back = movies.merge(split_genres)
melted = pd.melt(
    merged_back, id_vars=['id', 'release_year'], 
    value_vars=[0, 1, 2, 3, 4], value_name='genre'
).drop('variable', axis = 1
).dropna()

melted.to_csv('id_year_genre.csv', index=False)
melted.head()

       id  release_year      genre
0  135397          2015     Action
1   76341          2015     Action
2  262500          2015  Adventure
3  140607          2015     Action
4  168259          2015     Action